<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.collective.profilingline.skos.repository.mappers.SkosMapper">

    <select id="selectSkosSubjectByURI" parameterType="java.lang.String" resultMap="skosSubjectResultMap">
        SELECT * FROM skos_subject WHERE url = #{uriSegment}
    </select>

    <select id="selectMostRepresentativeSkosSubjectByResourceURI"
            parameterType="java.lang.String"
            resultMap="skosSubjectResultMap">
        SELECT skos_subject.url
        FROM skos_subject JOIN skos_to_reference ON skos_subject.id = skos_to_reference.skos_id JOIN entity_references
        ON skos_to_reference.entity_id = entity_references.id
        WHERE entity_references.entity = #{"urlSegment"}
    </select>

    <resultMap id="skosSubjectResultMap" type="com.collective.profilingline.skos.SkosSubject">
        <id property="identifier" column="url"/>
        <result property="label" column="url"/>
    </resultMap>

</mapper>